.annotation {
	padding: 0.2em;
	max-width: 600px;
	line-height: 2em;
}

.lyric {
	position: relative;
	font-weight: bold;
}

.details {
	max-width: 100%;
	display: flex;
	flex-flow: row wrap;
	border: 4px solid;
	font-weight: 500;
	padding: 0.5em;
	color: #ffeeb7;
	background-color: black;
	margin: 8px 0.8em 0.5em 4px;
}

.details > * {
	flex-grow: 1;
	flex-basis: 100%;
	width: 0;
}

.lyric-has-details {
	cursor: pointer;
	overflow: hidden;
	border: 4px solid black;
	margin-bottom: 0.5em;
	padding: 0.5em;
	box-shadow: 8px 8px black;
}

.annotation img {
	width: 100%;
	height: auto;
}

.annotation iframe {
	width: 100%;
	height: auto;
}

.annotation a {
	color: #ffeeb7;
	text-decoration: none;
	background-color: black;
	padding: 0 0.2em;
	overflow-wrap: break-word;
}
