.app {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #ffeeb7;
  min-height: 100vh;
}

.app > h1 {
  text-align: center;
  font-size: 3em;
}

.user-search > input[type=text] {
  font-family: inherit;
  font-size: 1em;
  border: none;
  margin-top: 2em;
  padding: 0.5em 0 0.5em 0.3em;
  background-color: transparent;
}

.user-search::after {
  display: block;
  content: '';
  border-bottom: solid 0.3em black;
  transition: transform 0.2s ease-in-out;
  transform: scaleX(0.4);
  transform-origin: 0 50%;
}

.user-search:focus-within::after {
  transform: scaleX(1);
}
