@keyframes slide-up {
	0% {
		transform: translateY(100%)
	}

	100% {
		transform: translateY(0);
	}
}

.now-playing {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: center;
	flex-wrap: wrap;
	padding: 1em;
	margin-top: 2em;
}

.song-details > h2 {
	margin: 0.6em;
}

.song-details {
	display: flex;
	flex-direction: column;
	animation: slide-up ease 0.7s;
	margin-right: 4em;
}

.album-art {
	max-width: 400px;
}

.album-art > img {
	width: 100%;
	height: auto;
}

.info {
	display: flex;
	flex-direction: column;
	max-width: 500px;
	align-items: flex-start;
}

.info > p {
	color: #ffeeb7;
	background-color: black;
	padding: 0.4em;
	text-transform: lowercase;
	margin-bottom: 0.6em;
}

.lyrics {
	margin: 0.6em;
	max-width: 800px;
	animation: slide-up ease 0.8s;
}

/* .lyric::selection, .lyric > br::selection {
	color: black;
	background: #ffeeb7;
}

.lyrics p::selection {
	color: black;
	background: #ffeeb7;
} */