.now-playing {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 1em;
}

.now-playing > h2 {
	margin: 0.6em;
}

@keyframes slide-up {
	0% {
		transform: translateY(100%)
	}

	100% {
		transform: translateY(0);
	}
}

.album-art {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	overflow: hidden;
	animation: 0.3s ease-in-out 1 slide-up;
}

.album-art > * {
	margin: 0.6em;
}

.album-art > .album-img {
	width: 300px;
	padding-bottom: 300px;
	position: relative;
	height: 0;
	overflow: hidden;
}

.album-art > .album-img > img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.info {
	max-width: 500px;
}

.info > span {
	display: table;
	color: #ffeeb7;
	background-color: black;
	padding: 0.4em;
	text-transform: lowercase;
	margin-bottom: 0.6em;
}

.lyrics {
	margin: 0.6em;
	max-width: 800px;
}